body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: white;
}
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}
video {
  max-width: 100%;
  margin-top: 10px;
}
canvas {
  border: 1px solid #555;
  margin: 10px 0;
}
